<a href="https://colab.research.google.com/github/Abuton/Abuton/blob/gh-pages/Zomato_Use_Case%20Spatial%20Analysis%20with%20Folium%20and%20Geopy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("/content/drive/MyDrive/Copy of zomato.csv")

df.head(3)

                                                 url  ... listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...    Banashankari
1  https://www.zomato.com/bangalore/spice-elephan...  ...    Banashankari
2  https://www.zomato.com/SanchurroBangalore?cont...  ...    Banashankari

[3 rows x 17 columns]

In [3]:
# check missing values
df.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [4]:
df = df.dropna(axis="index", subset=["location"])

df.isna().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7754
votes                              0
phone                           1187
location                           0
rest_type                        206
dish_liked                     28057
cuisines                          24
approx_cost(for two people)      325
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [7]:
# check unique in location column
df["location"].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [8]:
df["location"].nunique()

93

In [5]:
locations = pd.DataFrame()

In [6]:
locations["Name"] = df["location"].unique()

locations.head()

                 Name
0        Banashankari
1        Basavanagudi
2         Mysore Road
3           Jayanagar
4  Kumaraswamy Layout

In [7]:
# extract latitude and logitude from locations

!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.50)

In [8]:
from geopy.geocoders import Nominatim

In [9]:
geolocator = Nominatim(user_agent="app")

In [10]:
latitudes, longitudes = [], []
for loc in locations['Name']:
  location = geolocator.geocode(loc)
  if location is None:
    latitudes.append(np.nan)
    longitudes.append(np.nan)
  else:
    latitudes.append(location.latitude)
    longitudes.append(location.longitude)

In [11]:
locations['latitudes'] = latitudes
locations['longitudes'] = longitudes

locations.head()

                 Name  latitudes  longitudes
0        Banashankari  15.887678   75.704678
1        Basavanagudi  12.941726   77.575502
2         Mysore Road  12.387214   76.666963
3           Jayanagar  27.643927   83.052805
4  Kumaraswamy Layout  12.908149   77.555318

In [12]:
df["location"].value_counts().reset_index()

                    index  location
0                     BTM      5124
1                     HSR      2523
2   Koramangala 5th Block      2504
3                JP Nagar      2235
4              Whitefield      2144
..                    ...       ...
88              Yelahanka         6
89         West Bangalore         6
90                 Jakkur         3
91   Rajarajeshwari Nagar         2
92                 Peenya         1

[93 rows x 2 columns]

In [13]:
# get the count of each location
loc_counts = df["location"].value_counts().reset_index()

loc_counts = loc_counts.rename(columns={"index": "Name", "location": "count"})

In [14]:
# merge the 2 datasets
location_count = locations.merge(loc_counts, on="Name")

location_count.head()

                 Name  latitudes  longitudes  count
0        Banashankari  15.887678   75.704678    906
1        Basavanagudi  12.941726   77.575502    684
2         Mysore Road  12.387214   76.666963     22
3           Jayanagar  27.643927   83.052805   1926
4  Kumaraswamy Layout  12.908149   77.555318    195

In [23]:
# generate map

!pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (1.1.1)

In [15]:
import sys
print(sys.getrecursionlimit())

sys.setrecursionlimit(10**4)

1000

In [16]:
# define function to return basemap

def generate_base_map(default_location=[12.94,77.57], zoom_start=12):
  basemap = folium.Map(location=default_location, zoom_start=zoom_start)
  return basemap

In [17]:
import folium

basemap = generate_base_map()

basemap

In [18]:
from folium.plugins import HeatMap

HeatMap(location_count[['latitudes', "longitudes", "count"]]).add_to(basemap)

RecursionError: ignored

In [47]:
# Marker Analysis:: Chucnking down bunch of markers to select definite ones, more like a cluster

from folium.plugins import FastMarkerCluster

In [48]:
FastMarkerCluster(location_count[['latitudes', "longitudes", "count"]]).add_to(basemap)

RecursionError: ignored

In [49]:
# we need rating to rate each restaurants locations

df.head(2)

                                                 url  ... listed_in(city)
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...    Banashankari
1  https://www.zomato.com/bangalore/spice-elephan...  ...    Banashankari

[2 rows x 17 columns]

In [19]:
df.dropna(axis="index", subset=["rate"], inplace=True)

In [51]:
df["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [20]:
def replace_slash_followup_number(rate):
  rating = rate.split("/")[0]
  return rating

replace_slash_followup_number("4.5/5")

'4.5'

In [21]:
df["rating"] = df["rate"].apply(replace_slash_followup_number)

df["rating"].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', 'NEW', '2.9', '3.5',
       '2.6', '3.8 ', '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2',
       '2.3', '3.4 ', '-', '3.6 ', '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ',
       '3.7 ', '3.1 ', '2.9 ', '3.3 ', '2.8 ', '3.5 ', '2.7 ', '2.5 ',
       '3.2 ', '2.6 ', '4.5 ', '4.3 ', '4.4 ', '4.9', '2.1', '2.0', '1.8',
       '4.6 ', '4.9 ', '3.0 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ',
       '2.2 ', '2.0 ', '1.8 '], dtype=object)

In [22]:
df['rating'] = df["rating"].replace("NEW", 0).replace("-", 0)

In [23]:
df["rating"].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', 0, '2.9', '3.5', '2.6',
       '3.8 ', '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2', '2.3',
       '3.4 ', '3.6 ', '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ', '3.7 ',
       '3.1 ', '2.9 ', '3.3 ', '2.8 ', '3.5 ', '2.7 ', '2.5 ', '3.2 ',
       '2.6 ', '4.5 ', '4.3 ', '4.4 ', '4.9', '2.1', '2.0', '1.8', '4.6 ',
       '4.9 ', '3.0 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ', '2.2 ',
       '2.0 ', '1.8 '], dtype=object)

In [24]:
df["rating"] = pd.to_numeric(df["rating"])

In [25]:
df.groupby("location")["rating"].mean().sort_values(ascending=False)

location
Lavelle Road             4.042886
St. Marks Road           4.017201
Koramangala 3rd Block    3.978756
Sankey Road              3.965385
Church Street            3.963091
                           ...
Electronic City          3.041909
Bommanahalli             2.926752
Hebbal                   2.880000
North Bangalore          2.385714
West Bangalore           2.020000
Name: rating, Length: 92, dtype: float64

In [26]:
avg_rating = df.groupby("location")["rating"].mean().sort_values(ascending=False).values
location_list = df.groupby("location")["rating"].mean().sort_values(ascending=False).index

rating_df = pd.DataFrame(data=zip(location_list, avg_rating), columns=["Name", "average_rating"])

rating_df.head()

                    Name  average_rating
0           Lavelle Road        4.042886
1         St. Marks Road        4.017201
2  Koramangala 3rd Block        3.978756
3            Sankey Road        3.965385
4          Church Street        3.963091

In [27]:
latitudes, longitudes = [], []
for loc in location_list:
  location = geolocator.geocode(loc)
  if location is None:
    latitudes.append(np.nan)
    longitudes.append(np.nan)
  else:
    latitudes.append(location.latitude)
    longitudes.append(location.longitude)

In [28]:
rating_df['lat'] = latitudes
rating_df['lon'] = longitudes

rating_df.head()

                    Name  average_rating        lat         lon
0           Lavelle Road        4.042886  40.765284  -76.373824
1         St. Marks Road        4.017201  51.522765   -0.735446
2  Koramangala 3rd Block        3.978756  12.927187   77.626625
3            Sankey Road        3.965385  38.780108 -121.505644
4          Church Street        3.963091  51.373656   -0.104237

In [29]:
rating_df.isna().sum()

Name              0
average_rating    0
lat               1
lon               1
dtype: int64

In [30]:
rating_df.dropna(inplace=True)

In [ ]:
HeatMap(rating_df[['lat', 'lon', 'average_rating']]).add_to(base_map)

In [31]:
# Automa Spatial Analysis

df.head(2)

                                                 url  ... rating
0  https://www.zomato.com/bangalore/jalsa-banasha...  ...    4.1
1  https://www.zomato.com/bangalore/spice-elephan...  ...    4.1

[2 rows x 18 columns]

In [32]:
my_filter = df["cuisines"] == "North Indian"
df2 = df[my_filter]
df2.head()

                                                  url  ... rating
5   https://www.zomato.com/bangalore/timepass-dinn...  ...    3.8
50  https://www.zomato.com/bangalore/petoo-banasha...  ...    3.7
72  https://www.zomato.com/bangalore/spicy-tandoor...  ...    0.0
87  https://www.zomato.com/bangalore/krishna-sagar...  ...    3.5
94  https://www.zomato.com/bangalore/nandhini-delu...  ...    2.6

[5 rows x 18 columns]

In [36]:
north_indian = df2.groupby("location")["url"].count().reset_index()
north_indian.columns = ['Name', 'count']

north_indian.head(2)

           Name  count
0           BTM    274
1  Banashankari     35

In [38]:
north_india = north_indian.merge(rating_df[["Name", "lat", "lon"]], on="Name", how="left").dropna()

north_india.head()

                Name  count        lat         lon
0                BTM    274  45.954851 -112.496595
1       Banashankari     35  15.887678   75.704678
2          Banaswadi      9  13.014162   77.651854
3  Bannerghatta Road     60  12.887979   77.597081
4       Basavanagudi     17  12.941726   77.575502

In [ ]:
def heatmap_zone(zone):
  my_filter = df['cuisines']==zone
  df2 = df[my_filter]
  north_indian = df2.groupby("location")["url"].count().reset_index()
  north_indian.columns = ['Name', 'count']
  north_india = north_indian.merge(rating_df[["Name", "lat", "lon"]], on="Name", how="left").dropna()
  HeatMap(north_india[["lat", "lon", "count"]], max_zoom=20).add_to(basemap)
  return basemap